<div class="row">
    <div class="col input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input (keydown)="onInput($event)" [(ngModel)]="input" type="text" placeholder="Screenname">
        <img src="{{imgURL}}" *ngIf="imgURL !== null"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <button (click)="submit()" class="btn-sm btn-primary" type="submit">Submit</button>
    </div>
</div>